@{
    ViewBag.Title = "Home Page";
}

<div>
<h3>Распродажа машин</h3>
    <table>
        <tr>
            <td>Название машины</td>
            <td>Модель</td>
            <td>Цена</td>
            <td></td>
        </tr>
        @foreach (var car in ViewBag.Cars)
        {
            <tr>
                <td><p>@car.Name</p></td>
                <td><p>@car.Model</p></td>
                <td><p>@car.Price</p></td>
                <td><p><a href="/Home/Buy/@car.Id">Купить машину</a></p></td>
            </tr>
        }
    </table>
</div>