
@{
    ViewBag.Title = "GetCar";
}

<form method="post">
    <p>введите машинку</p>
    <input type="text" name="title" />
    <p>введите марку</p>
    <input type="text" name="model" />
    <input type="submit" value="Send" />
</form>
